
.main {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 1rem;
  padding: 2rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 10px #f5f5f5, -5px -5px 10px 10px #f5f5f5;
  width: 600px;
  max-width: 100%;
  font-size: 12px;
}
.content {
  padding-top: 20px;
}
.Sign_box {
  font-size: 10px;
  margin-left: -10px;
}
.checkbox {
  padding-top: 3px;
}
.inputContainer i {
  position: absolute;
  padding: 15px;
  color: black;
  text-align: left;
}
.input {
  padding-left: 40px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  max-width: 80%;
}
.input_phone_sign {
  padding-left: 100px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  max-width: 80%;
}

.phone_icon_sign {
  border-radius: 50%;
  border: 1px solid #f56862;
  background-color: #f56862;
  padding: 7px!important;
  margin: 50px 15px 65px 15px;
}
.Dropdown_sign {
  position: absolute;
  padding-left: 30px;
  top: 40px;
}
.Dropdown_login {
  position: absolute;
  padding-left: 30px;
  top: 90px;
}

.input_phone_login {
  padding-left: 100px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  margin: 50px 0;
  max-width: 80%;
}
.phone_icon_login {
  border-radius: 50%;
  border: 1px solid #f56862;
  background-color: #f56862;
  padding: 7px!important;
  margin: 15px;
  top: 85px;
}
.Otp_input {
  border: none;
}
.ImageBox {
  border-radius: 10px;
  border: 1px solid #9babc5;
  padding: 30px;
  width: 160px;
  height: 180px;
  background-color: #9babc5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
}
.para1 {
  width: 60px;
  height: 7px;
  background-color: #becee7;
  margin-top: 50px;
  margin-bottom: 6px;
}
.para2 {
  width: 100px;
  height: 7px;
  background-color: #becee7;
}
.para3 {
  width: 40px;
  height: 10px;
  background-color: #d7e1f1;
}
.Login_note {
  font-size: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 5px;
}
.btn {
  padding: 5px;
  margin-top: 5px;
  border-radius: 7px;
  background-color: #3498ff;
  color: white;
  max-width: 150px;
  text-align: center;
}
.Otp_container {
  margin: 50px 0;
}
.Otp {
  padding: 15px;
  border-radius: 7px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bolder;
}
.Otp_note {
  font-size: 10px;
  margin-bottom: 20px;
}